.footer
  .groupfooter
    .groupfooter__box
      %p.groupfooter__title
        = @group.name
      = link_to edit_group_path(@group), class: "link__icon__config" do
        = icon('fas', 'cog', class: "icon icon__config")
    .groupfooter__member
      %p
        参加メンバー：
        - @group.users.each do |user|
          = user.name

  = render "common_footer"