.header
  %ul.header__topLinks
    %li.list.headerLists.headerList__TopPage
      = icon('fas', 'home', class: "icon icon__home")
      = link_to root_path, class: "link headerTopLink headerLink__TopPage" do
        トップページ
    %li.list.headerLists.headerList__chat
      = icon('far', 'comments', class: "icon icon__group")
      = link_to new_group_path, class: "link headerTopLink headerLink__chat" do
        チャット
  = form_with url: root_path, method: :get, local: true do |f|
    = f.text_field :search, class: 'search', placeholder: "チャット検索"
  %h3.title
    チャットｃｈ
  .userIcon
    %ul.ul.userIcon__child
      %li.list
        = link_to edit_user_path(current_user), class: "link headerLink headerLink__myPage" do
          = icon('fas', 'user-circle', class: "iconLg icon__user")
.body
  .sideBar
    .user
      .user__image
        画像
      = link_to edit_user_path(current_user), class: "user__name" do
        = current_user.name
    %p1
      参加中のグループ
    .sideBar__list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group), class: "sideBar__group" do
          .sideBar__group__name
            = group.name
          .sideBar__group__box
            .sideBar__group__box__messenger
              山田
            .sideBar__group__box__created_at
              2020/6/1
          .sideBar__group__message
            こんにちは
    .sideBar__group
      .sideBar__group__name
        グループ１
      .sideBar__group__message
        こんにちは
    .sideBar__group
      .sideBar__group__name
        グループ１
      .sideBar__group__message
        こんにちは
    .sideBar__group
      .sideBar__group__name
        グループ１
      .sideBar__group__message
        こんにちは
  .main
    -# = render "recommend"
    -# = render "message_area"