.message__footer
  = form_with model: [@group, @message], html: {class: "footer__form"}, local: true do |f|
    -# messagesのルーティングがgroupsにネストしているので、２つの引数を渡す
    -# @groupどこにメッセージを送信するか
    -# @messageメッセージモデルのからのインスタンスMeaage.new
    .footer__form__box
      = f.textarea :content, class: 'footer__form__text', placeholder: 'type a message'
      = f.label :image, class: 'footer__form__label' do
        = icon('far', 'image', class: 'footer__form__icon')
        = f.file_field :image, class: 'Hidden footer__form__file'
    = f.submit 'Send', class: 'footer__form__btn'