%ul.header__topLinks
  %li.list.headerLists.headerList__TopPage
    = icon('fas', 'home', class: "icon icon__home")
    = link_to root_path, class: "link headerTopLink headerLink__TopPage" do
      トップページ
  %li.list.headerLists.headerList__chat
    = icon('far', 'comments', class: "icon icon__group")
    = link_to new_group_path, class: "link headerTopLink headerLink__chat" do
      グループチャット
= form_with url: search_all_users_chats_path, method: :get, local: true do |f|
  = f.text_field :search, class: 'search', placeholder: "チャット検索"
%h3.title
  チャットｃｈ
.userIcon
  %ul
    %li.list
      = link_to edit_user_path(current_user), class: "link headerLink headerLink__myPage" do
        = image_tag current_user.image.url, alt: "まだアバター画像は設定されていません"
        -# = icon('fas', 'user-circle', class: "iconLg icon__user")
