.header
  %ul.header__topLinks
    %li.list
      = link_to 'トップページ', '#', class: "link headerTopLink headerLink__TopPage" 
    %li.list
      = link_to 'チャット', '#', class: "link headerTopLink headerLink__chat"
  = form_with url: root_path, method: :get, local: true do |f|
    = f.text_field :search, class: 'search', placeholder: "チャット検索"
  %h3.title
    チャットｃｈ
  .userIcon
    %ul.ul.userIcon__child
      %li.list
        = link_to '#', class: "link headerLink headerLink__myPage" do
          = icon('fas', 'edit', class: "side-box__icon create__new--group__icon")
.body
  .sideBar
  .main
.footer