.box300

.comment__footer
  = form_with(model: [@all_users_chat, @comment], html: {class: "comment__footer__form"}, local: true) do |form|
    .comment__footer__form__box
      = form.text_area :content, class: 'comment__footer__form__text', placeholder: "コメントする", rows: "6"
      = form.label :image, class: 'comment__footer__form__label' do
        = icon('far', 'image', class: 'comment__footer__form__icon')
        = form.file_field :image, class: 'Hidden comment__footer__form__file'
    = form.submit "SEND", class: 'comment__footer__form__btn'
    -# = form_with(model: [@all_users_chat, @comment], local: true) do |form|
    -#   .footer__form__box
    -#     = form.text_area :content, placeholder: "コメントする", rows: "6"
    -#     .footer__form__label
    -#       .footer__form__icon
    -#       = form.file_field :image, placeholder: "Image Url"
    -#   = form.submit "SEND"


    -# .common__footer -> comment__footer
    -# .footer__form -> comment__footer__form