.auc_show__returnAuc
  = link_to all_users_chats_path, class: "link p15" do
    全体チャット一覧へ戻る
.auc_show__chatName.p25
  = @all_users_chat.name
.auc_show__createUserName.p15
  = @all_users_chat.user.name

.auc_show
  - if @comments
    -@comments.each do |comment|
      .auc_show
        = comment.user.name
        = comment.content
        = image_tag comment.image.url if comment.image.present?