.auc_show__returnAuc
  = link_to all_users_chats_path, class: "link p15" do
    全体チャット一覧へ戻る
.auc_show__body
  .auc_show__titleBox
    .auc_show__chatName.p25
      = "[#{@all_users_chat.id}]"
      = @all_users_chat.name
    .auc_show__createUserName.p15
      チャット作成者：  
      = @all_users_chat.user.name
    -if current_user.id == @all_users_chat.user_id
      = link_to "削除", all_users_chat_path(@all_users_chat), method: :delete, class: "link__removeAuc"
      %p
        ※押すと、全てのコメントが削除されてしまいます
  = image_tag @all_users_chat.image.url

.auc_show__comment
  -@comments.each do |comment|
    .commenter__box
      .commenter__box__img
        = image_tag comment.user.image.url
      .commenter__box-2
        .commenter__box-2__name.p15
          = comment.user.name
        .commenter__box-2__comment
          - if comment.content.present?
            .comment__content.p15
              = comment.content
          = image_tag comment.image.url, class: 'comment__image' if comment.image.present?
      .commenter__box-3
        .commenter__box-3__edit
          - if (current_user.id == @all_users_chat.user_id) || (current_user.id == comment.user.id)
            = link_to '削除', all_users_chat_comment_path(@all_users_chat, comment), method: :delete, class: "link delete text-small" 
        .commenter__box-3__created_at.p8
          = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
