.auc__body
  .auc__innere
    .auc__title
      全体公開チャット一覧
    .auc__field
      - @all_users_chats.each do |all_users_chat|
        .auc__field__show
          = link_to all_users_chat_path(all_users_chat.id), method: :get do
            .auc__field__chatName.p15
              = "[#{all_users_chat.id}]"
              = all_users_chat.name
            .auc__field__userName.p8
              投稿者名：  
              = all_users_chat.user.name
            -# - if all_users_chat.tags.length != 0
            -#   - all_users_chat.tags.each do |tag|
            -#     = "##{tag.text}"
