.contents.row
  .container.center.marginTop50
    %h3 検索結果
    = form_with(model: @all_users_chat, local: true) do |form|
      .SettingGroupForm.center
        - @all_users_chats.each do |all_users_chat|
          .SettingGroupForm__field.block
            = link_to all_users_chat_path(all_users_chat) do
              = "[#{all_users_chat.id}]"
              = all_users_chat.name